# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2026, The RISC-V Trusted Firmware contributors

config LIBC
	bool
	default y
	help
	  Freestanding C library subset (string.h, printf family).

config LIBC_PRINTF_BUF
	int "printf() line buffer size"
	default 256
